:host {
  display: block;
  max-width: 800px;
  margin: auto;
}

header {
  display: block;
  padding: 16px;
  padding-bottom: 0;

  h3 {
    margin: 0;
  }
}

content {
  display: block;
  padding: 8px 16px;
}

.chart {
  height: 300px;
  margin-bottom: 32px;
  margin-left: -8px;
}

.chart-legend {
  margin: 0 16px;
}

time-period-selector {
  margin: 4px 0 8px 0;
}
