<header>
  <h3 nz-typography>GardenAI</h3>
</header>

<content>

  <div class="chart">
    <ngx-charts-area-chart
      [scheme]="{ domain: ['#ffcd32'] }"
      legend="true"
      showYAxisLabel="true"
      xAxis="true"
      yAxis="true"
      yAxisLabel="lux"
      [results]="chartData"
      autoScale="true"
      [showGridLines]="false"
      [gradient]="true"
      [legend]="false"
      legendPosition="below"
    >
    </ngx-charts-area-chart>
  </div>

  <ng-container *ngIf="dataService.sensorsData$ | async as data">
    <nz-table #table nzSize="middle" [nzData]="data">
      <thead>
        <tr>
          <th>Date</th>
          <th>Light (lux)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data">
          <td>{{ item.CreatedOn | date:'yyyy-MM-dd hh:mm:ss' }}</td>
          <td>{{ item.Light }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>


  <!-- <ng-container *ngIf="dataService.sashData$ | async as sashdata">
    <div id="currentStatePanel">
      <div>
        <nz-progress [nzPercent]="sashdata?.position" nzType="circle" [nzFormat]="formatPosition"></nz-progress>
        Sash Opening
      </div>
      <div>
        <nz-progress [nzPercent]="sashdata?.position" nzType="circle" [nzFormat]="formatEnergy"></nz-progress>
        Energy Consumption
      </div>
    </div>
  </ng-container> -->


  <!-- <ngx-charts-line-chart
    [view]="view"
    [showGridLines]="false"
    [scheme]="{ domain: ['#5AA454'] }"
    legend="true"
    showYAxisLabel="true"
    xAxis="true"
    yAxis="true"
    yAxisLabel="%"
    [results]="sashChartData"
    autoScale="true"
    [trimXAxisTicks]="true"
    [maxXAxisTickLength]="16"
  >
  </ngx-charts-line-chart> -->

</content>